<style>
  /* TODO: Is this an issue with Gecko, or with Firefox? */
  html.gecko.mac #demo-input {
    outline: none;
  }
  /* TODO: Feature detect `appearance`, if feasible. */
  html.msie #demo-input {
    border: 1px solid #7f9db9;
  }
  #demo-input {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: field;
    overflow-y: hidden;
    min-width: 20em;
    padding: .3em;
    display: inline-block;
  }
</style>

<div id="demo-input">
  Yeah this was <strong>already</strong> in here...
</div>

<script>
  jQuery(function($) {
    $('#demo-input').htmleditable('singleline', ['bold']);
  });
</script>
