<style type="text/css">
  html.gecko #richtextarea-autofit {
    outline: none;
  }
  #richtextarea-autofit {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    padding: .5em;
    overflow-x: auto;
    display: inline-block;
  }
  #richtextarea-autofit > p:last-child {
    margin-bottom: 0;
  }
</style>

<div id="richtextarea-autofit">
  <p>Yeah this was <strong>already</strong> in here...</p>
</div>

<script type="text/javascript">
  $('#richtextarea-autofit').htmleditable(['bold']);
</script>
