/* line 4, site.scss */
html.gecko [contenteditable="true"] {
  outline: 0;
}

/* line 11, site.scss */
#preview > h3 {
  margin-top: 0;
}
/* line 14, site.scss */
#preview > .content {
  padding: .5em;
  background-color: LemonChiffon;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border-top: 1px solid Khaki;
  border-bottom: 1px solid Khaki;
  overflow-x: auto;
  overflow-y: auto;
}
